.chatContainer {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
}
.chatResponse {
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 15px;
  position: relative;

  align-self: flex-start;
  background-color: #e9ecef;
  border-bottom-left-radius: 5px;
}
.chatQuery {
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 15px;
  position: relative;

  align-self: flex-end;
  background-color: #007bff;
  color: white;
  border-bottom-right-radius: 5px;
}

.inputContainer {
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.inputBox {
  border: .1rem solid black;
  padding: 1rem;
  width: auto;
  border-radius: .5rem;
}
.submitButton {
  padding: 1rem;
  border: .1rem solid black;
  margin: 1rem;
  background-color: pink;
  border-radius: .5rem;
}
.submitButton:hover {
  background-color: palevioletred;

}